#about {
    background-color: #8ea6b4;
}

.item-menu-size {
    height: 60px;
}

.navbar-light .navbar-nav .nav-link :hover , .anchor-active {
    color: white!important;
    background-color: #2c3e50!important;
}

.navbar-light .navbar-nav .nav-link {
    color: gray;
    letter-spacing: 2px;
}

p.card-text {
    font-size: 1.1rem;
    letter-spacing: 1.5px;
    line-height: 1.8;
}

#me-resume {
    font-size: 1.25rem;
    letter-spacing: 2px;
    line-height: 1.8;
}

.card-title {
    font-weight: 400!important;
    padding-bottom: 12px;
}

@media (min-width: 992px) {
    .col-lg-card {
        -ms-flex: 0 0 30%;
        flex: 0 0 30%;
        max-width: 30%;
    }
}

.img-card, .img-me {
    opacity: 0;
    z-index: 1200;
  }


.navbar {
    z-index: 1900!important;
}

#linkedin, #email {
    font-size: 8rem;
}

#linkedin-caption, #email-caption {
    font-size: 1.4rem;
}

.contact-div {
    max-width: 900px;
}

.services-div {
    max-width: 1920px;
}